.matrixblock.is-faux-collapsed { height: 32px !important; box-sizing: border-box; overflow: hidden; }
body.ltr .matrixblock > .titlebar { padding: 5px 70px 5px 14px; }
body.rtl .matrixblock > .titlebar { padding: 5px 14px 5px 70px; }
.matrixblock .titlebar { cursor: pointer; }
.matrixblock .titlebar + .checkbox { display: none; }
.matrixblock .titlebar .blocktype { font-weight: 500; }
.matrixblock .titlebar .preview { display: none !important; }
.matrixblock .titlebar:hover { background: #e4edf8; }
.matrixblock .titlebar:hover .blocktype { color: #3f4d5a; }